@using Prova8.Models
@model LoginViewModel
@{
 
                ViewBag.Title = "Log in";
}

<h2>Prova</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "informe seu e-mail" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "informe sua senha" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <p class="Error"> @ViewBag.ErrMessage </p>
                        <input type="submit" value="Acessar" class="form-control btn btn-primary btn-lg" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">

                        <input type="button" value="Criar um conta" onclick="location.href='@Url.Action("Register", "Account")'" class="form-control btn btn-primary btn-lg" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="button" value="Esqueci minha senha" onclick="location.href='@Url.Action("ForgotPassword", "Account")'" class="form-control btn btn-primary btn-lg" />

                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")